<div
  class="dropzone"
  appDnd
  (filesDropped)="onFilesDropped($event)"
  [ngClass]="{
    'fade-dropzone': hasFiles,
    'full-screen': !hasFiles
  }"
>
  <div>
    <input
      type="file"
      id="selectedFile-dropzone"
      style="display: none"
      (change)="fileBrowserHandler($event)"
      multiple
    />
    <div class="btn-add-images">
      <app-round-icon-button
        onclick="document.getElementById('selectedFile-dropzone').click();"
      >

      </app-round-icon-button>
    </div>
  </div>

  <div class="list-header" *ngIf="hasFiles">
    <p>
      {{ (fileService.files$ | async)?.length }} Dateien geöffnet.
    </p>
  </div>

</div>
