:host {
  /* z-index: 10;
  position: absolute; */
  /* top: var(--header-height); */
  /* top: 100px; */
  /* left: 0;
  right: 0; */
  background-color: var(--dropzone-background-color);
  width: 100%;
  height: 100%;
}

.dropzone {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.file-upload {
  border: 1px solid #000;
  border-radius: .2rem;

  padding: .3rem;
  margin-bottom: 1rem;

  cursor: pointer;

  color: #000;

  transition: all .3s ease-out;
}

.file-upload:hover {
  color: #db292f;
}

.file-upload input {
  overflow: hidden;
  width: 0;
  padding: 0;
}


.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

button {
  padding: .5rem 1rem;
  margin: 1rem;
}

input {

  z-index: 2;
  /* width: 100%; */
  /* height: 100%; */

  /* border: 3px solid #000; */
  padding: 1rem;
}

h3, h4 {
  padding: .5rem;
  margin: 0;
}

