<div
  class="dropzone"
  appDnd
  (filesDropped)="onFilesDropped($event)"
  [ngClass]="{
    'fade-dropzone': hasFiles,
    'full-screen': !hasFiles
  }"
>
  <div>
    <input
      type="file"
      id="selectedFile-dropzone"
      style="display: none"
      (change)="fileBrowserHandler($event)"
      multiple
    />
    <div class="btn-add-images">
      <app-round-icon-button
        onclick="document.getElementById('selectedFile-dropzone').click();"
      >

      </app-round-icon-button>
    </div>
  </div>

  <div class="list-header" *ngIf="hasFiles">
    <p>
      {{ (fileService.files$ | async)?.length }} Dateien geöffnet.
    </p>
  </div>

  <div class="example-button-container" *ngIf="!hasFiles">
    <!-- ZELDA examples -->
    <!-- <div class="btn-example" (click)="showExamples(0)">
      <img src="/assets/images/curious_zelda/curious_zelda_1.jpg">
    </div> -->

    <!-- big cat examples -->
    <!-- <div class="btn-example" (click)="showExamples(4)">
      <img src="/assets/images/giant_cats/gc-1.jpg">
    </div> -->


    <!-- <button *ngIf="!hasFiles" (click)="showExamples(1)">Beispiel GIF</button>
    <button *ngIf="!hasFiles" (click)="showExamples(2)">Beispiel SVG</button>
    <button *ngIf="!hasFiles" (click)="showExamples(3)">Beispiel MP3</button> -->
  </div>
</div>
