.setting-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  /* background-color: red; */
  background-color: var(--semi-transparent-bg);
  border-radius: 0 0 .5rem .5rem;
  width: 100%;

  padding: 1rem;
}

.setting-container > * {
  /* -webkit-box-shadow: 13px 12px 15px 5px #CECECE;
  box-shadow: 13px 12px 15px 5px #CECECE; */

  padding: .5rem .2rem;

  flex-grow: 1;
}

.file-upload input{
  border: 3px dashed deeppink;
  /* display:none; */

  opacity: .3;

}
