<div class="setting-container with-shadow">
  <app-grid-configurator></app-grid-configurator>

  <!-- *ngIf="fileCount > 0" -->
  <div>
    <button
      mat-icon-button
      class="hovering-icon with-shadow"
      matTooltip="Liste löschen"
      [matTooltipPosition]="'below'"
      (click)="resetFiles()"
    >
      <mat-icon class="icon">delete</mat-icon>
    </button>

    <!-- <button
      mat-icon-button
      class="hovering-icon with-shadow"
      matTooltip="xxx"
      [matTooltipPosition]="'below'"
    >
      <mat-icon class="icon">remove</mat-icon>
    </button> -->
  </div>

  <!-- <label class="file-upload with-shadow">
    <input
      type="file"
      #fileDropRef
      id="fileDropRef"
      multiple
      (change)="fileBrowserHandler($event)"
    />
  </label> -->
  <!-- <app-theme-switch></app-theme-switch> -->
</div>
