<div class="setting-container with-shadow">
  <app-grid-configurator></app-grid-configurator>

  <div>
    <input type="file" id="selectedFile" style="display: none" (change)="fileBrowserHandler($event)" multiple/>
    <div>



      <button mat-icon-button class="hovering-icon with-shadow"
        matTooltip="Bilder hinzufügen"
        [matTooltipPosition]="'below'"
        onclick="document.getElementById('selectedFile').click();"
      >
        <mat-icon class="icon">image_search</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <button mat-icon-button class="hovering-icon with-shadow"
      matTooltip="Liste löschen"
      [matTooltipPosition]="'below'"
      (click)="resetFiles()"
    >
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>


  <!-- <div>
    <button
      mat-icon-button
      class="hovering-icon with-shadow"
      matTooltip="Liste löschen"
      [matTooltipPosition]="'below'"
      (click)="resetFiles()"
    >
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>

   -->

  <!-- <app-theme-switch></app-theme-switch> -->
</div>
