<div class="wrapper" [ngClass]="{ 'single-item-list': mediaFiles.length === 1 }">
  <!-- selected item -->
  <!-- <app-media-item
    *ngIf="selectedFileIndex >= 0"
    [item]="mediaFiles[selectedFileIndex]"
    [selected]="true"
    [showNaviButtons]="mediaFiles.length > 1"
    (itemClicked)="itemClicked(selectedFileIndex)"
    (selectPrevious)="selectPrevious($event)"
    (selectNext)="selectNext($event)"
  ></app-media-item> -->


  <!-- reloacte from selected item -->
  <!-- [showNaviButtons]="mediaFiles.length > 1" -->
  <!-- (selectPrevious)="selectPrevious($event)" -->
  <!-- (selectNext)="selectNext($event)" -->
  <!-- <div
  *ngIf="selected && showNaviButtons"
  class="navi-buttons buttons-bottom"
>
  <button (click)="previous($event)">Prev</button>
  <button (click)="next($event)">Next</button>
</div> -->


  <app-image-editor
  *ngIf="selectedFileIndex >= 0"
    [item]="mediaFiles[selectedFileIndex]"
    (itemClicked)="itemClicked(selectedFileIndex)"
    (selectPrevious)="selectPrevious($event)"
    (selectNext)="selectNext($event)"
  ></app-image-editor>



  <!-- <app-selected-item
  *ngIf="selectedFileIndex >= 0"
    [item]="mediaFiles[selectedFileIndex]"
    [showNaviButtons]="mediaFiles.length > 1"
    (itemClicked)="itemClicked(selectedFileIndex)"
    (selectPrevious)="selectPrevious($event)"
    (selectNext)="selectNext($event)"
  ></app-selected-item> -->


  <div class="items" [ngClass]="{ 'multiple-item-list': mediaFiles.length > 1 }">
    <div
      *ngFor="let media of mediaFiles; let i = index"
      class="item-container"
      (click)="itemClicked(i)"
    >
      <!-- <div [ngClass]="{'is-selected': i === selectedFileIndex}"> -->
        <app-media-item [item]="media" [tabIndex]="i" [ngClass]="{'is-selected': i === selectedFileIndex}"></app-media-item>
      <!-- </div> -->
    </div>
  </div>
</div>
