<div class="column-buttons">
  <!-- <p>Anzahl Spalten ändern</p> -->

  <!-- <button mat-raised-button matTooltip="Weniger Spalten" [matTooltipPosition]="'below'" class="button" (click)="decreaseColCount($event)">-</button>
  <button mat-raised-button matTooltip="Mehr Spalten" [matTooltipPosition]="'below'" class="button" (click)="increaseColCount($event)">+</button> -->

  <button
    mat-icon-button
    class="hovering-icon with-shadow"
    (click)="decreaseColCount($event)"
    matTooltip="Weniger Spalten"
    [matTooltipPosition]="'below'"
  >
    <mat-icon class="icon">remove</mat-icon>
  </button>

  <button
    mat-icon-button
    class="hovering-icon with-shadow"
    (click)="increaseColCount($event)"
    matTooltip="Mehr Spalten"
    [matTooltipPosition]="'below'"
  >
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>
