.button {
  padding: 0.7rem 0;

  width: 100%;
  max-width: 50px;

  opacity: .85;
  z-index: 2;

  cursor: pointer;

  transition: all .3s ease-out;
}

.column-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  color: #333;
  background-color: #ccc;
}

p {
  white-space: nowrap;
}
