<div>


  <!-- selected item -->
  <div
    [ngSwitch]="item.type"
    class="media-item selected-item"
  >

   <!-- cursor buttons (left | right -> prev | next) -->
   <div class="navi-buttons buttons-top">
    <div>
      <button (click)="previous($event)">Prev</button>
      <button (click)="next($event)">Next</button>
    </div>
    <div>
      <div>
        <input
          id="item_{{ itemId }}"
          type="range"
          min="1"
          max="10"
          [value]="itemSwitchDelay"
          step="1"
          (change)="switchDelayChange($event)"
        />
        <label for="item_{{ itemId }}">{{ itemSwitchDelay }} Sekunden</label>
        <button (click)="togglePlayPause()">
          <ng-container *ngIf="isPlaying; else elseTemplate">
            Pause
          </ng-container>
          <ng-template #elseTemplate> Play </ng-template>
        </button>
      </div>
    </div>
  </div>

  <div class="editor-and-media">
    <!-- <div *ngIf="selected && showEditor" class="editor-container">
      <app-image-editor></app-image-editor>
    </div> -->

      <div (click)="onItemClicked()" class="media">
        <div *ngSwitchCase="'image'" class="actual-image-container">
          <img class="actual-image"
            src="{{ getUrl(item) }}"
            alt="user image"
          />
        </div>
        <div *ngSwitchCase="'video'">
          <video controls muted>
            <source [src]="item.videoSrc" type="{{ item.type }}" />
            Your Browser does not support Video Please switch to firefox or chrome
            or safari or any modern browser
          </video>
        </div>
        <div *ngSwitchCase="'svg'">
          <p>TODO: *.svg: {{ item.url }}</p>

          <object type="image/svg+xml" [data]="item.svgSrc" class="logo">
            Logo
          </object>
        </div>
        <div *ngSwitchCase="'audio'" class="audio-container">
          <audio controls>
            <source [src]="item.url" type="audio/mpeg" />
            Your Browser does not support Audio. Please switch to firefox or
            chrome or safari or any modern browser
          </audio>
        </div>
        <div *ngSwitchDefault>
          <img class="actual-image" src="{{ item.url }}" alt="item.url" />
        </div>

      </div>
      <!-- selected item end -->
    </div>
    <!-- switch case end -->

    <!-- cursor buttons (left | right -> prev | next) -->



  </div>
</div>

