<div class="outer-container">
  <header>
    <app-toggle-anything
      class="hover-over-everything"
      *ngIf="fileCount > 0"
      [initialState]="false"
      [enabledLabel]="'Hide UI'"
      [disabledLabel]="'Show UI'"
      (toggled)="showUI = $event"
    ></app-toggle-anything>

    <app-settings  [ngClass]="{'full-opacity': showUI}" class="app-settings"></app-settings>


  </header>
  <div class="content">
    <app-drop-zone *ngIf="showDropzone"></app-drop-zone>
    <div class="files">
      <!-- todo: add toggle: icon button? -->
      <!-- <app-user-file-list *ngIf="showUI && (fileService.files$ | async).length > 0"></app-user-file-list> -->
      <app-file-list></app-file-list>
    </div>
  </div>
</div>
