<div class="outer-container">
  <header>
    <!-- *ngIf="fileCount > 0" -->
    <app-toggle-anything
      class="hover-over-everything"
      [initialState]="uiService.showUi$ | async"
      [enabledLabel]="'Hide UI'"
      [disabledLabel]="'Show UI'"
      (toggled)="updateUi($event)"
    ></app-toggle-anything>

    <app-settings class="app-settings" [ngClass]="{'enabled-settings': uiService.showUi$ | async}"></app-settings>


  </header>
  <div class="content">
    <app-drop-zone *ngIf="showDropzone"></app-drop-zone>
    <div class="files">
      <!-- todo: add toggle: icon button? -->
      <!-- <app-user-file-list *ngIf="showUI && (fileService.files$ | async).length > 0"></app-user-file-list> -->
      <app-file-list></app-file-list>
    </div>
  </div>
</div>
