@import url('variables.css');


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;

  overflow: hidden;

  background-color: var(--selected-bg-color);
  color: var(--selected-txt-color);

  transition: all .3s ease-out;
}

* {
  font-family: monospace;
  font-weight: 900;
}

p {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* gradient-shadow */
.card {
  /* display: flex;
  flex-direction: column; */
  padding: var(--spacer);
  /* max-width: 35ch; */
  border-radius: 0.25em;
  color: white;
  /* background-color: transparent; */
  box-shadow: 0 0 3rem hsl(0 0 0 / 0.2);
}
.gradient-shadow {

  background: linear-gradient(
    45deg,
    hsl(var(--clr-orange)),
    hsl(var(--clr-blue))
    );
    box-shadow: 0;
    position: relative;
    isolation: isolate;
  }

  .gradient-shadow::before,
  .gradient-shadow::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
  }

  .gradient-shadow::before {
    filter: blur(0.75em);
  }

  .gradient-shadow::after {
    opacity: 0.5;
    filter: blur(2em);
  }
  /* gradient-shadow */
