:root {
  /* filters */
  --f-border-top-height: 0px;
  --f-border-right-width: 0px;
  --f-border-bottom-height: 0px;
  --f-border-left-width: 0px;

  --f-border-top-color: '#ffffff';
  --f-border-right-color: '#ffffff';
  --f-border-bottom-color: '#ffffff';
  --f-border-left-color: '#ffffff';

  --image-border-radius: .2rem,

  /* filters end */


  /* basics */
  --dark-bg: #333;
  --light-bg: #ccc;
  --dark-txt: #333;
  --light-txt: #ccc;

  --selected-bg-color: var(--dark-bg);
  --selected-txt-color: var(--light-txt);

  --header-height: 21px;

  --col-count: 1;
  /* --preferred-item-width: 300px;
  --title-bg-light: #ccc;
  --title-bg-dark: #333; */
}
/* vars end */
