:root {
  /* filters */
  --f-border-top-height: 5px;
  --f-border-right-width: 5px;
  --f-border-bottom-height: 5px;
  --f-border-left-width: 5px;

  --f-border-color: '#2ed052';

  --image-border-radius: .2rem,

  /* filters end */


  /* basics */
  --dark-bg: #333;
  --light-bg: #ccc;
  --dark-txt: #333;
  --light-txt: #ccc;

  --selected-bg-color: var(--dark-bg);
  --selected-txt-color: var(--light-txt);

  --header-height: 46px;
  --dropzone-background-color: rgb(153, 153, 153);

  --col-count: 1;

  /* gradient-shadow */

  --color: hsl(37, 100%, 84%);


  /* --clr-orange: 7 100% 63%; */
  /* --clr-orange: 212, 100%, 86%; */
  --clr-orange: 37, 100%, 84%;
  /* --clr-blue: 239 100% 50%; */
  /* --clr-blue: 212, 100%, 84%; */
  --clr-blue: 96, 100%, 84%;

  --spacer: 1vmin;
  /* gradient-shadow end */




  /* --preferred-item-width: 300px;
  --title-bg-light: #ccc;
  --title-bg-dark: #333; */
}
/* vars end */
